<app-nav-bar></app-nav-bar>
<div class="margem">
  <div class="mt-4 d-flex justify-content-center">
    <div id="main-container" class="container-fluid">
      <div class="d-flex justify-content-between">
        <h1 class="title text-start">Cursos</h1>
        <button class="btn fs-4" [routerLink]="['/criar']">Criar
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
          </svg></button>
      </div>
      <app-modulo [title]="'Políticas da Empresa'" [modules]="[
    { name: 'Módulo 1 | Básico I', progress: 100 },
    { name: 'Módulo 2 | Básico II', progress: 57 },
    { name: 'Módulo 3 | Intermediário I', progress: 33 },
    { name: 'Módulo 4 | Intermediário II', progress: 0 },
    { name: 'Módulo 5 | Avançado', progress: 0 }
  ]">
      </app-modulo>
      <app-modulo [title]="'Conhecendo o Ambiente de Trabalho'" [modules]="[
    { name: 'Módulo 1 | Básico I', progress: 100 },
    { name: 'Módulo 2 | Básico II', progress: 57 },
    { name: 'Módulo 3 | Intermediário I', progress: 33 },
  ]">
      </app-modulo>
    </div>
  </div>
</div>