 
  .logo {
    height: 5%;
    width: 5%;
  }
  
  .nav-link:hover {
    color: darken(var(--main-color), 10%);
  }
  
  .content {
    padding: 20px;
  }
  
  .module {
    color: #03358e;
    border: 1px solid #03358e;
    padding: 15px;
    border-radius: 5px;
  }
  
  .progress-bar {
    background-color: var(--main-color);
  }

  .modules-container {
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    max-height: 0; /* Inicialmente oculto */
    opacity: 0;    /* Inicialmente invisível */
  }
  
  .modules-container.show {
    max-height: 1000px; /* Valor alto o suficiente para acomodar o conteúdo */
    opacity: 1;         /* Tornar visível */
  }
  
  .modules-container.hide {
    max-height: 0;     /* Continuar oculto */
    opacity: 0;        /* Continuar invisível */
  }
  
  h2 {
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  h2:hover {
    color: #007bff; /* Cor ao passar o mouse */
  }
  
  .dropdown-icon {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 1.2rem; /* Tamanho do ícone */
  }
  
  .rotate {
    transform: rotate(180deg); /* Rotaciona a seta quando os módulos estão visíveis */
  }
  
.btn-acess{
    background-color: white;
    border-color: white;
    color: #03358e;


}