<app-nav-bar></app-nav-bar>
<div class="margem">
  <div class="d-flex flex-column justify-content-center align-items-center mb-5">
    <!-- Botão de Voltar -->
    <div class="leave z-3 ms-3 text-main position-absolute start-0 top-0">
      <svg class="btn" [routerLink]="['/portal']" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
        fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg>
    </div>

    <!-- Título e Subtítulo -->
    <h2 class="text-center title pb-3 pt-3">
      <ng-container *ngIf="editMode.subtitle; else viewModeTitle">
        <textarea [(ngModel)]="subtitle" class="form-control mb-3" rows="3"></textarea>
        <button class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('subtitle')">Salvar</button>
      </ng-container>
      <ng-template #viewModeTitle>
        <div class="d-flex flex-column">
          <div>{{ title }}</div>
          <div class="d-flex align-items-center">
            <h4 class="mb-3 mt-2">{{ subtitle }}</h4>
            <button *ngIf="role === 'admin'" class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('subtitle')">Editar</button>
          </div>
        </div>
      </ng-template>
    </h2>

    <!-- Conteúdo -->
    <div class="bg-light p-4 rounded shadow-sm teste">
      <div class="module">
        <div class="text-muted" style="font-size: 1.2em;">
          <img src="../../../assets/images/logotipo-eurofarma-350x350_.png" class="float-end ms-3 mb-3 img-fluid rounded"
            alt="Imagem Descritiva">

          <!-- Parágrafos Editáveis -->
          <!-- Parágrafo 1 -->
          <ng-container *ngIf="editMode.paragraph1; else viewModeParagraph1">
            <textarea [(ngModel)]="paragraph1" class="form-control mb-3" rows="3"></textarea>
            <button class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph1')">Salvar</button>
          </ng-container>
          <ng-template #viewModeParagraph1>
            <p>
              {{ paragraph1 }}
              <button *ngIf="role === 'admin'" class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph1')">Editar</button>
            </p>
          </ng-template>

          <!-- Parágrafo 2 -->
          <ng-container *ngIf="editMode.paragraph2; else viewModeParagraph2">
            <textarea [(ngModel)]="paragraph2" class="form-control mb-3" rows="3"></textarea>
            <button class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph2')">Salvar</button>
          </ng-container>
          <ng-template #viewModeParagraph2>
            <p>
              {{ paragraph2 }}
              <button *ngIf="role === 'admin'" class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph2')">Editar</button>
            </p>
          </ng-template>

          <!-- Parágrafo 3 -->
          <ng-container *ngIf="editMode.paragraph3; else viewModeParagraph3">
            <textarea [(ngModel)]="paragraph3" class="form-control mb-3" rows="3"></textarea>
            <button class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph3')">Salvar</button>
          </ng-container>
          <ng-template #viewModeParagraph3>
            <p>
              {{ paragraph3 }}
              <button *ngIf="role === 'admin'" class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph3')">Editar</button>
            </p>
          </ng-template>

          <!-- Parágrafo 4 -->
          <ng-container *ngIf="editMode.paragraph4; else viewModeParagraph4">
            <textarea [(ngModel)]="paragraph4" class="form-control mb-3" rows="3"></textarea>
            <button class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph4')">Salvar</button>
          </ng-container>
          <ng-template #viewModeParagraph4>
            <p>
              {{ paragraph4 }}
              <button *ngIf="role === 'admin'" class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph4')">Editar</button>
            </p>
          </ng-template>

          <!-- Parágrafo 5 -->
          <ng-container *ngIf="editMode.paragraph5; else viewModeParagraph5">
            <textarea [(ngModel)]="paragraph5" class="form-control mb-3" rows="3"></textarea>
            <button class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph5')">Salvar</button>
          </ng-container>
          <ng-template #viewModeParagraph5>
            <p>
              {{ paragraph5 }}
              <button *ngIf="role === 'admin'" class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph5')">Editar</button>
            </p>
          </ng-template>

          <!-- Parágrafo 6 -->
          <ng-container *ngIf="editMode.paragraph6; else viewModeParagraph6">
            <textarea [(ngModel)]="paragraph6" class="form-control mb-3" rows="3"></textarea>
            <button class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph6')">Salvar</button>
          </ng-container>
          <ng-template #viewModeParagraph6>
            <p>
              {{ paragraph6 }}
              <button *ngIf="role === 'admin'" class="btn btn-sm btn-secondary ms-3" (click)="toggleEdit('paragraph6')">Editar</button>
            </p>
          </ng-template>

          <!-- Questionário -->
          <div class="mt-4">
            <h4 class="text-center mb-4">Questionário de Avaliação</h4>
            <form id="quiz-form" (ngSubmit)="checkAnswers()">
              <!-- Pergunta 1 -->
              <div class="row mb-3">
                <label for="q1" class="col-sm-12 col-md-4 col-form-label">
                  1. Qual é a principal prioridade da Eurofarma em relação ao ambiente de trabalho?
                </label>
                <div class="col-sm-12 col-md-8">
                  <select id="q1" class="form-select" [(ngModel)]="answers.q1" name="q1" required [ngClass]="{'is-invalid': isWrong.q1}">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="a">Maximizar os lucros</option>
                    <option value="b">Garantir a segurança no trabalho</option>
                    <option value="c">Aumentar a produtividade</option>
                    <option value="d">Expandir globalmente</option>
                  </select>
                  <!-- Exibe a mensagem se a resposta estiver errada -->
                  <div *ngIf="isWrong.q1" class="text-danger mt-1">Resposta incorreta</div>
                </div>
              </div>
          
              <!-- Pergunta 2 -->
              <div class="row mb-3">
                <label for="q2" class="col-sm-12 col-md-4 col-form-label">
                  2. O que é esperado dos colaboradores em relação às políticas de conduta?
                </label>
                <div class="col-sm-12 col-md-8">
                  <select id="q2" class="form-select" [(ngModel)]="answers.q2" name="q2" required [ngClass]="{'is-invalid': isWrong.q2}">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="a">Seguir com integridade e respeito</option>
                    <option value="b">Focar exclusivamente em resultados</option>
                    <option value="c">Aumentar a presença online</option>
                    <option value="d">Evitar responsabilidades adicionais</option>
                  </select>
                  <!-- Exibe a mensagem se a resposta estiver errada -->
                  <div *ngIf="isWrong.q2" class="text-danger mt-1">Resposta incorreta</div>
                </div>
              </div>
          
              <!-- Pergunta 3 -->
              <div class="row mb-3">
                <label for="q3" class="col-sm-12 col-md-4 col-form-label">
                  3. Como a Eurofarma protege as informações confidenciais?
                </label>
                <div class="col-sm-12 col-md-8">
                  <select id="q3" class="form-select" [(ngModel)]="answers.q3" name="q3" required [ngClass]="{'is-invalid': isWrong.q3}">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="a">Com práticas de segurança robustas</option>
                    <option value="b">Com treinamento contínuo em vendas</option>
                    <option value="c">Através de auditorias externas apenas</option>
                    <option value="d">Aumentando o número de funcionários</option>
                  </select>
                  <!-- Exibe a mensagem se a resposta estiver errada -->
                  <div *ngIf="isWrong.q3" class="text-danger mt-1">Resposta incorreta</div>
                </div>
              </div>
          
              <!-- Pergunta 4 -->
              <div class="row mb-3">
                <label for="q4" class="col-sm-12 col-md-4 col-form-label">
                  4. Qual é o papel das políticas de responsabilidade social da Eurofarma?
                </label>
                <div class="col-sm-12 col-md-8">
                  <select id="q4" class="form-select" [(ngModel)]="answers.q4" name="q4" required [ngClass]="{'is-invalid': isWrong.q4}">
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="a">Promover o bem-estar social e ambiental</option>
                    <option value="b">Aumentar o lucro da empresa</option>
                    <option value="c">Reduzir custos operacionais</option>
                    <option value="d">Expandir a gama de produtos</option>
                  </select>
                  <!-- Exibe a mensagem se a resposta estiver errada -->
                  <div *ngIf="isWrong.q4" class="text-danger mt-1">Resposta incorreta</div>
                </div>
              </div>
          
              <!-- Botão Enviar -->
              <div class="d-grid mb-1">
                <button type="submit" class="btn btn-primary">Enviar Respostas</button>
              </div>
            </form>
          
            <!-- Mensagem de resultado -->
            <div *ngIf="resultMessage" class="alert alert-info mt-3">{{ resultMessage }}</div>
          </div>
          
    </div>
  </div>
</div>
