.hover:hover {
    background-color: #0444b3;
}


#main-div-login {
    width: 100vw;
    height: 100vh;
  }
  


.card {
    width: 400px;
}

@keyframes slide-left {
    from {
        transform: translate(0, -20vh);

    }

    to {
        transform: translate(-18vw, 0);
        /* Centraliza a imagem verticalmente */
        /* Centraliza a imagem verticalmente */
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(120px);
    }

    to {
        opacity: 0;
        transform: translateY(80vh);
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100vw);
        opacity: 0;
    }

    to {
        transform: translateX(-15vw);
        opacity: 1;
    }
}


@keyframes pop-in {
    from {
        opacity: 0;
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: all;
    }
}

.animate-start {
    animation: pop-in 1s forwards;
    /* Corrige o nome da animação */
}


.animate-slide-left {
    animation: slide-left 1s forwards;
}

.animate-fade-out {
    pointer-events: none;
    animation: fade-out 1s forwards;
}

.animate-slide-in-right {
    animation: slide-in-right 1s forwards;
}

.welcome-text {
    font-size: 4vw;
    position: absolute;
    right: 0;
    transform: translateY(50vw);
    z-index: 5;
    opacity: 0;
    /* Certifique-se de que o texto está acima dos outros elementos */
}

#eurofarma {
    z-index: 0;
    width: 50%;
    transform: translateY(-20vh);
    /* max-width: 50%; /* Garante que a imagem não ultrapasse a largura do container pai */
    /* height: auto; */
}



@media (max-width: 768px) {
    #formulario {
        width: 340px;
    }

    #swift-start {
        width: 50%;
        max-width: 150px;
        /* Limita a largura em dispositivos pequenos */
    }

    #eurofarma {
        width: 50%;
        /* Ajusta a largura para telas menores */
        max-width: 200px;
        /* Limita a largura em dispositivos pequenos */
    }
}

@media (max-height: 750px) {
    #eurofarma {
        width: 50%;
        /* Ajusta a largura para telas menores */
        max-width: 300px;
        /* Limita a largura em dispositivos pequenos */
        margin-bottom: 20px;
    }
}

#formulario {
    transform: translateY(120px);
}

#start {
    opacity: 0;
    pointer-events: none;
    color: #0444b3;
    transform: translateY(20vh);
    background-color: rgb(255, 255, 255);
}

#start:hover {
    color: #0444b3;
    background-color: rgb(218, 218, 218);
}

.welcome-text {
    transform: translate(-17vw, calc(25vh - 20%));
    /* Centraliza a imagem verticalmente */
    pointer-events: none;
}

/* #formulário {
    position: absolute;
    } */