<div class="d-flex justify-content-center align-items-center vw-100 vh-100 bg-main">
  <div class="container d-flex flex-column justify-content-center align-items-center col-md-4">
    <img class="img-fluid w-50 h-50" src="../../../assets/images/logo-eurofarma.png" alt="Logo EuroFarma">
    <div class="card bg-main text-light p-4 shadow w-75 mb-5 border-light" style="transform: translateY(-30px);">
      <h3 class="text-center mb-4">Portal do Colaborador</h3>
      <form (submit)="onLogin($event)">
        <!-- Campo de Usuário (Email) -->
        <div class="mb-3">
          <label for="email" class="form-label">Usuário (Email)</label>
          <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" required>
        </div>
        <!-- Campo de Senha -->
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" placeholder="Digite sua senha" required>
        </div>
        <!-- Botão de Login -->
        <div class="d-grid">
          <button type="submit" class="btn hover bg-main text-light border-light">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- TESTE CONSUMO API (!!!FUNCIONANDO!!!) -->
<!-- <div>
  <h1>User List</h1>
  <ul>
    <li *ngFor="let user of users">
      <strong>{{ user.fullName }}</strong> ({{ user.role }}) - {{ user.email }}
      <ul>
        <li *ngFor="let permission of user.permissions">
          Permission: {{ permission }}
        </li>
      </ul>
    </li>
  </ul>
</div> -->
