<app-nav-bar/>
<div class="margem d-flex flex-column mb-5">
  <div class="d-flex flex-row container justify-content-center align-items-center mb-5">
    <img alt="User Image" class="profile" src="https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg">
    <div class="text-main"><h1 class="fw-bold">Olá, User!</h1><br/>
    <h4>Aqui você pode ver<br/> seu progresso nos cursos<br/> de Onboarding.</h4>
    </div>
  </div>
    <div class="mt-4 d-flex justify-content-center">
      <div class="container main-container">
        <h1 class="title text-center">Cursos concluídos</h1>
        <div>
          <app-progress-course
          title="Políticas da Empresa"
          [progress]="100"
          />
        </div>
        <h1 class="title text-center mt-5">Cursos pendentes</h1>
        <app-progress-course
        title="Conhecendo o Ambiente de trabalho"
        [progress]="45"
        />
      </div>
    </div>
  </div>